.wallet {
  margin: 0 10%;
}
.item {
  min-height: 20rem;
  min-width: 80rem;
  padding: 40px;
}

.item img {
  width: 90%;
  height: 90%;
  pointer-events: none;
}
.inner-carousel {
  display: flex;
  background: #1a1a1a;
}
.carousel {
  border-radius: 10px;
  cursor: grab;
  overflow: hidden;
  background: #1a1a1a;
  padding-top: 30px;
}
